@import "../../base.scss";

.login {
  height: 100vh;
  display: grid;
  place-items: center;

  &_container {
    padding: 2rem;
    margin: 0 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      margin-bottom: 1rem;
      background-color: lightgray;
      color: black;
      &:focus {
        outline: none;
      }

      &:hover {
        background-color: rgb(98, 98, 177);
        color: white;
      }
    }
  }
  img {
    width: 130px;
    height: 130px;
    object-fit: contain;
  }
}
